{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <img src="{% static 'blog/images/fix3.jpg' %}" class="img-responsive img-fluid " alt="about us">
    <h2 class="border-bottom mt-2 p-3">من نحن</h2>
    <P class="text-justify pabout p-3">
        <span id="fteabout"><b>مصمم السيارات . المهندس محمد الشبيبي</b></span>  

        عشقه للسيارات بدأ منذ الصغر
        بدأ بتفكيك ألعاب السيارات ومحاولة اكتشافها وبدأت الهواية تتطور وحب السيارات يزيد في داخله ..
        اشترى الكتب والمجلات المختصة في هذا المجال وبدأ يغذي عقله وفكره بهذا المجال 
        وعندما بلغ سن (15 سنة ) استلم أول سيارة من الوكالة كانت 4 أبواب واصراره على تحويلها الى بابين لم توقفه كل العثرات التي واجهته .. وبالفعل انتهى من هذا المشروع وقد كانت السيارة انذاك تحفة تمشي في الشارع ومن سيارة لأخرى 
        وقد هاجر الى الخارج وبدأ يمارس شغفه على سيارات في الدول الاخرى و جاءته عروض لافتتاح مصنع للسيارات 
        وحبه لوطنه جعله يرفض هذه العروض ورجع لأرض الوطن وحلمه أن ينشيء أول مصنع للسيارات بالمملكة .. ومازال الحلم مستمر .
    </P>
    
    
    
</div>


{% endblock content %}