{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container bg-about p-3">
    <img src="{% static 'blog/images/fix3.jpg' %}" class="img-responsive img-fluid " alt="about us">
    <h2 class="border-bottom mt-2">اصباغ مميزة ذات جودة عالية</h2>
    <P class="text-justify pabout p-3">
        <span id="fteabout"><b>مصمم السيارات . المهندس محمد الشبيبي</b></span>  

        عشقه للسيارات بدأ منذ الصغر
        بدأ بتفكيك ألعاب السيارات ومحاولة اكتشافها وبدأت الهواية تتطور وحب السيارات يزيد في داخله ..
        اشترى الكتب والمجلات المختصة في هذا المجال وبدأ يغذي عقله وفكره بهذا المجال 
        وعندما بلغ سن (15 سنة ) استلم أول سيارة من الوكالة كانت 4 أبواب واصراره على تحويلها الى بابين لم توقفه كل العثرات التي واجهته .. وبالفعل انتهى من هذا المشروع وقد كانت السيارة انذاك تحفة تمشي في الشارع ومن سيارة لأخرى 
        وقد هاجر الى الخارج وبدأ يمارس شغفه على سيارات في الدول الاخرى و جاءته عروض لافتتاح مصنع للسيارات 
        وحبه لوطنه جعله يرفض هذه العروض ورجع لأرض الوطن وحلمه أن ينشيء أول مصنع للسيارات بالمملكة .. ومازال الحلم مستمر .
    </P>
    <h2 class="border-bottom">Mission</h2>
    <P class="text-justify pabout p-3">
        To provide a safe and reliable transportation solution along with our installation services keeping in 
        mind customer satisfaction.
    </P>
    <h2 class="border-bottom">Vision</h2>
    <P class="text-justify pabout p-3">
        To offer unique logistic services with the know how in Saudi Arabia matching with the Saudi vision of 2030.
    </P>
    <h2 class="border-bottom">Values</h2>
    <P class="text-justify pabout p-3">
        Our values reflect our thoughts and belief. They recognize our organization culture 
        as team’s player in the organization.
    </P>
    <div class="ml-4">
        <h4 class="hedercolor"><i class="fas fa-shield-alt iconcolor"></i> Safety</h4>
        <p class="pabout">Safety is key priority and non-negotiable term in our scope.</p>
        <h4 class="hedercolor"><i class="fas fa-check-circle iconcolor"></i> Reliability</h4>
        <p class="pabout">We are the strategic and trusted partner that you can always depend on.</p>
        <h4 class="hedercolor"><i class="fas fa-award iconcolor"></i> Excellence</h4> 
        <P class="pabout">We are providing a service with high quality standards matching customer expectations.</P>
        <h4 class="hedercolor"><i class="fas fa-handshake iconcolor"></i> Integrity</h4>
        <P class="pabout">We are always serving our clients honestly with high commitment to business ethics and human moral.</P>
    </div>
    
    
    
</div>


{% endblock content %}